.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
}

h1,
.locationForm{
  width: 50%;
  margin: 0 auto;
}

.locationForm{
  padding-bottom: 15px;
  color: white;
}

.day{
  width: 100%;
  clear: both;
  padding-bottom: 15px;
}

.date,
.summary,
.image{
  float: left;
  margin-right: 5%;
}

.image{
  float: right;
}

.temp{
  float: right;
  margin-right: 15%;
}



.custom-select{
  margin-bottom: 20px;
}

.peach-gradient{
  margin-bottom: 25px;
}

body{
  background: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/weatherbg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/weatherbg.jpg);
  
  /* to make image opaque use linear gradient and post image here instead of html*/
  height: 100vh; /* makes sure the image covers the screen at all times*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}